@import './variables.scss';
@import './reset.scss';
@import './theme//theme-default.scss';
@import './theme/theme-dark.scss';
@import './sidebar.scss';
@import './transition.scss';
@import './element.scss';

/* 移动端的时候由于屏幕变小隐藏头部导航栏 */
@media screen and (max-width: 540px) {
  .breadcrumb {
    display: none !important;
  }
}

// 滚动条样式
@mixin base-scrollbar {
  &::-webkit-scrollbar {
    width: 13px;
    height: 13px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: rgb(0 0 0 / 10%);
    background-clip: padding-box;
    border: 3px solid transparent;
    border-radius: 7px;
  }

  &::-webkit-scrollbar-thumb:hover {
    background-color: rgb(0 0 0 / 30%);
  }

  &::-webkit-scrollbar-track {
    background-color: transparent;
  }

  &::-webkit-scrollbar-track:hover {
    background-color: #f8fafc;
  }
}

html,
body {
  height: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-family: Helvetica Neue, Helvetica, PingFang SC, Hiragino Sans GB, Microsoft YaHei, Arial,
    sans-serif;
}

html {
  height: 100%;
  box-sizing: border-box;
}

#app {
  height: 100%;
  .layout-main {
    .layout-main-container {
      @include base-scrollbar;
    }
  }
}

.app-container {
  height: 100%;
  width: 100%;
  padding: 10px 12px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

.app-container-inner {
  height: 100%;
  width: 100%;
  box-shadow: 0 2px 12px 0 rgb(0 0 0 / 10%);
  background: white;
  padding: 20px;
  box-sizing: border-box;
}
