// 全局 css 变量
$primaryColor: var(--el-color-primary);

// 菜单字体颜色
$menu-text: #bfcbd9;
$menu-active-text: #409eff;

// 菜单背景颜色
$menu-bg: #304156;
$menu-hover: #263445;

// 侧边菜单设置
$sub-menu-active-text: #f4f4f5;
$sub-menu-bg: #1f2d3d;
$sub-menu-hover: #001528;

// 默认层级
$base-z-index: 999;

// 默认paddiing
$base-padding: 20px;

// 默认阴影
$base-box-shadow: 0 1px 4px rgb(0 21 41 / 8%);

// 纵向布局时左侧导航未折叠时的宽度
$side-bar-width: 210px;

// 纵向布局时左侧导航收回动画时间
$side-bar-duration: 0.28s;

// 纵向布局时左侧导航未折叠时右侧内容的宽度
$right-content-width: calc(100% - #{$side-bar-width});

// 纵向布局时左侧导航已折叠时的宽度
$side-bar-width-min: 63px;

// 纵向布局时左侧导航已折叠时右侧内容的宽度
$right-content-width-min: calc(100% - #{$side-bar-width-min});

// 顶部nav-bar的高度
$nav-bar-height: 60px;

// 顶部多标签页tabs-bar的高度
$tabs-bar-height: 40px;

// app-main的高度
$app-main-height: calc(100vh - $nav-bar-height - $tabs-bar-height - 21px - 40px);
