@use 'element-plus/theme-chalk/src/dark/css-vars.scss' as *;

/* 自定义暗黑模式样式 */
html.dark {
  $dark-main-bg-color: #141414;
  $dark-bg-color: #1f1f1f;
  $dark-border-color: #414243;
  $dark-text-color: #d9d9d9;
  $dark-shadow-color: 5px 5px 15px rgb(255 255 255 / 20%);
  $dark-scrollbar-bg-color: #686868;

  --zb-border-light: 1px solid #4c4d4f;

  /* 需要自定义覆盖的样式 */
  body {
    background: none;
  }

  /* login container（先固定样式） */
  .login-container {
    background-color: $dark-main-bg-color !important;
    .login-box {
      background-color: rgb(0 0 0 / 80%) !important;
      .login-form {
        background-color: $dark-main-bg-color !important;
        box-shadow: $dark-shadow-color !important;
        .login-logo {
          .logo-text {
            color: $dark-text-color !important;
          }
        }
        .el-button--primary {
          color: $dark-text-color !important;
        }
      }
    }
  }

  .sidebar-container {
    background: var(--el-bg-color) !important;
    & .el-menu .el-menu-item,
    & .el-menu .el-sub-menu > .el-sub-menu__title,
    & .el-sub-menu .el-menu-item {
      background-color: var(--el-bg-color) !important;

      &:hover {
        background-color: #060708 !important;
      }
      &.is-active {
        background-color: #060708 !important;
      }
    }
    .el-sub-menu__title {
      &:hover {
        background-color: var(--el-bg-color) !important;
      }
    }
  }

  .el-scrollbar {
    border: var(--zb-border-light);
    border-top: none;
  }

  .logo-container {
    background: none;
    box-sizing: border-box;
    border: var(--zb-border-light);
  }
  .el-drawer__header {
    span {
      color: var(--el-text-color-primary) !important;
    }
  }

  .theme-item {
    color: var(--el-text-color-primary) !important;
  }

  .el-table__header th {
    font-weight: bold;
    color: white;
  }
  .footer-layout {
    background: none;
    color: white;
    border-top: var(--zb-border-light);
  }

  // header
  .layout-header {
    color: var(--el-text-color-primary) !important;
    .nav-bar-container {
      background-color: var(--el-bg-color) !important;
      border-bottom: var(--zb-border-light);
      .header-icon {
        color: #bfcbd9 !important;
      }
    }
    // tagviews
    .tags-view {
      background: var(--el-bg-color) !important;
      border: var(--zb-border-light);
      border-top: none;
      border-left: none;
      box-sizing: border-box;
      .el-tabs--card > .el-tabs__header {
        border-bottom: none !important;
      }
    }
  }

  /* layout */
  .layout-main-container {
    .app-main {
      .header {
        background: none;
      }
      .footer {
        background: none;
      }
    }
  }
}
